{% extends "main-template.html" %} {% block title %}Contacto{% endblock %}{% block content %}{% load static %}


  <div class="container gallery-container">
    <p class="page-description text-center">Formulario de Contacto Minimarket El 10</p> 
    <form id="frm-agregar-asunto" method="POST" action="/agregar-asunto">{% csrf_token %}
      <div class="form-row nav-link">
        <div class="form-group col-md-6">
          <label for="txt-run">Run</label>
          <input type="text" class="form-control" id="txt-run" name="run" placeholder="Run">
        </div>
        <div class="form-group col-md-6">
          <label for="txt-nombres">Nombres</label>
          <input type="text" class="form-control" id="txt-nombres" name="nombres" placeholder="Nombres">
        </div>
        <div class="form-group col-md-6">
          <label for="txt-apellido-paterno">APELLIDO PATERNO</label>
          <input type="text" class="form-control" id="txt-apellido-paterno" name="apellido-paterno" name="apellido-paterno" placeholder="Apellidos">
        </div>
        <div class="form-group col-md-6">
          <label for="txt-apellido-materno">APELLIDO MATERNO</label>
          <input type="text" class="form-control" id="txt-apellido-materno" name="apellido-materno" name="apellido-materno" placeholder="Apellidos">
        </div>
        <div class="form-group col-md-6">
          <label for="txt-telefono">Telefono</label>
          <input type="text" class="form-control" id="txt-telefono" name="telefono" placeholder="Telefono">
        </div>
        <div class="form-group col-md-6">
          <label for="txt-direccion">Direccion</label>
          <input type="text" class="form-control" id="txt-direccion" name="direccion" placeholder="Direccion">
        </div>       
        <div class="form-group col-md-6">
          <label for="txt-email">Email</label>
          <input type="email" class="form-control" id="txt-email" name="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label class="my-1 mr-2" for="cmb-opcion">Selecciona una opcion</label>
          <select class="custom-select my-1 mr-sm-2" id="cmb-opcion" name="opcion">
            <option selected></option>
            <option value="1">Despacho a domicilio</option>
            <option value="2">Retiro en tienda</option>
            <option value="3">Sugerencia</option>
            <option value="4">Reclamo</option>
          </select>
        </div>
      
        <div class="form-group col-md-6">
          <label for="txt-motivo">Motivo de contacto o pedido</label>
          <textarea class="form-control" id="txt-motivo" rows="3" name="motivo" placeholder="Escriba aqui el motivo de su contacto o el pedido que desea realizar"></textarea>
        </div>

          <button type="button" onclick="enviar('', 'frm-agregar-asunto')" class="btn btn-primary" id="botonenviar">ENVIAR</button>
          <button type="button" onclick="clearForm(true)" class="btn btn-secondary" id="botonlimpiar">LIMPIAR</button>
        
        <div id="msg-validacion" hidden="true" class="alert alert-warning alert-dismissible fade show" role="alert">
            <div id="msg-informacion"></div>
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>-->
        </div>
      </div>
    </form>
  </div>


  <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/utility/empty.js' %}"></script>
  <script src="{% static 'js/utility/clear.js' %}"></script>
  <script src="{% static 'js/validate/contact-form-validate.js' %}"></script>


{% endblock %}