{% extends "main-template.html" %} {% block title %}DETALLE FORMULARIO CONTACTO{% endblock %}{% block content %}{% load static %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <form form id="frm-cargar" method="POST"  action="/cargar">{% csrf_token %}
                    <div class="form-group col-md-6 form-inline">
                        <label class="my-1 mr-2" for="cmb-opcion">Selecciona una opcion</label>
                        <select class="custom-select my-1 mr-sm-2" id="cmb-cargar" name="cargar">
                            <option selected></option>
                            <option value="1">Despacho a domicilio</option>
                            <option value="2">Retiro en tienda</option>
                            <option value="3">Sugerencia</option>
                            <option value="4">Reclamo</option>
                        </select>
                        <button type="button" onclick="cargando('', 'frm-cargar')" class="btn btn-primary float-right" id="botonenviar">CARGAR</button>
                    </div>
                </form>
            </div>
        </div>    
        <div class="row">
            <div class="col table-responsive table-hover">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">RUN</th>
                            <th scope="col">NOMBRES</th>
                            <th scope="col">APELLIDO PATERNO</th>
                            <th scope="col">APELLIDO MATERNO</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">DIRECCION</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">MOTIVO</th>
                            <th scope="col">ACCIONES</th>
                            <th scope="col"></th>                 
                        </tr>
                    </thead>
                    <tbody>
                        {% for tabla in tablas %}
                        <tr>
                            <td>{{tabla.codigo_cliente.run}}</td>
                            <td>{{tabla.codigo_cliente.nombres}}</td>
                            <td>{{tabla.codigo_cliente.apellido_paterno}}</td>
                            <td>{{tabla.codigo_cliente.apellido_materno}}</td>
                            <td>{{tabla.telefono}}</td>
                            <td>{{tabla.codigo_cliente.direccion}}</td>
                            <td>{{tabla.email}}</td>                
                            <td>{{tabla.motivo}}</td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                data-toggle="modal" data-target="#modal-{{tabla.codigo_cliente.codigo}}-delete">BORRAR</button>

                                <div class="modal" id="modal-{{tabla.codigo_cliente.codigo}}-delete">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">ELIMINAR REGISTRO</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body"> 
                                                <p>Al seleccionar esta opción se eliminarán
                                                    los datos del cliente. 
                                                    ¿Desea eliminar los datos?</p>
                                                <button type="button" class="btn btn-primary"
                                                    onclick="borra_despacho({{tabla.codigo_cliente.codigo}})">OK</button>
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">CANCEL</button>                                                                 
                                            </div>
                                            <script>
                                                function borra_despacho(id){
                                                    console.log("Despacho -> id: " + id);
                                                    window.location.assign('/eliminar-despacho?id='+id);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#modal-{{tabla.codigo}}-edit">EDITAR</button>

                                <div class="modal" id="modal-{{tabla.codigo}}-edit">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">EDITAR REGISTRO</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body"> 
                                                <form id="frm-editar-asunto-{{tabla.codigo}}" method="POST" action="/editar-asunto">{% csrf_token %}
                                                    <div style="margin: 10px; max-width: 1400px;">
                                                        <div class="form-row">
                                                            <input type="hidden" id="txt-codigo-{{tabla.codigo}}"  name="codigo" value="{{tabla.codigo}}"/>
                                                            <input type="hidden" id="txt-codigo_cliente-{{tabla.codigo_cliente.codigo}}"  name="codigo_cliente" value="{{tabla.codigo_cliente.codigo}}"/>

                                                            <label for="txt-run-{{tabla.codigo}}">RUN</label>
                                                            <input type="text" class="form-control" id="txt-run-{{tabla.codigo}}" name="run" value="{{tabla.codigo_cliente.run}}" readonly>

                                                            <label for="txt-nombres-{{tabla.codigo}}">NOMBRES</label>
                                                            <input type="text" class="form-control" id="txt-nombres-{{tabla.codigo}}" name="nombres" value="{{tabla.codigo_cliente.nombres}}">

                                                            <label for="txt-apellido-paterno-{{tabla.codigo}}">APELLIDO PATERNO</label>
                                                            <input type="text" class="form-control" id="txt-apellido-paterno-{{tabla.codigo}}" name="apellido-paterno" value="{{tabla.codigo_cliente.apellido_paterno}}">

                                                            <label for="txt-apellido-materno-{{tabla.codigo}}">APELLIDO MATERNO</label>
                                                            <input type="text" class="form-control" id="txt-apellido-materno-{{tabla.codigo}}" name="apellido-materno" value="{{tabla.codigo_cliente.apellido_materno}}">

                                                            <label for="txt-telefono">TELÉFONO</label>
                                                            <input type="tel" class="form-control" id="txt-telefono-{{tabla.codigo}}" name="telefono" value="{{tabla.telefono}}">
                                                            
                                                            <label for="txt-direccion">DIRECCION</label>
                                                            <input type="text" class="form-control" id="txt-direccion-{{tabla.codigo}}" name="direccion" value="{{tabla.codigo_cliente.direccion}}">


                                                            <label for="txt-email-{{asunto.codigo}}">EMAIL</label>
                                                            <input type="email" class="form-control" id="txt-email-{{tabla.codigo}}" name="email" value="{{tabla.email}}">
                                                            
                                                            <label for="txt-motivo-{{asunto.codigo}}">MOTIVO CONTACTO</label>
                                                            <textarea type="text" class="form-control" id="txt-motivo-{{tabla.codigo}}" name="motivo">{{tabla.motivo}}</textarea>
                                                            <div class="from-group col-md-6">
                                                                <button type="button" onclick="updatetabla('{{tabla.codigo}}', 'frm-editar-asunto-{{tabla.codigo}}')" class="btn btn-success">ACTUALIZAR</button>
                                                            </div>
                                                            <!--<div class="from-group col-md-6">
                                                                <button type="button" onclick="clearForm(true)" class="btn btn-secondary">LIMPIAR</button>
                                                            </div>-->
                                                        </div>
                                                        <div id="msg-validacion" hidden="true" class="alert alert-warning alert-dismissible fade show" role="alert">
                                                            <div id="msg-informacion"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <script src="{% static 'js/utility/empty.js' %}"></script>
                                                <script src="{% static 'js/utility/clear.js' %}"></script>
                                                <script src="{% static 'js/validate/contact-form-validate.js' %}"></script>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>                                     
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>        
                </table>
            </div>    
        </div>        
    </div>
{% endblock %}