{% extends "main-template.html" %} {% block title %}GALLERIA{% endblock %}{% block content %}{% load static %}
    <div class="container gallery-container">
        <p class="page-description text-center">Galeria de imagenes Minimarket El 10</p>
        <div class="tz-gallery">
            <div class="row"> 
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/carousel/01.png' %}">
                            <img src="{% static 'img/01.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                             <p class="cart-text">VERDURAS FRESCAS</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/carousel/02.png' %}">
                            <img src="{% static 'img/02.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">ALIMENTOS EN CONSERVA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/carousel/03.png' %}">
                            <img src="{% static 'img/03.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">BEBIDAS DE FANTASIA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/carousel/04.png' %}">
                            <img src="{% static 'img/04.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">PAN</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/carousel/05.png' %}">
                            <img src="{% static 'img/05.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">LACTEOS</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/ofertas/arroz.png' %}">
                            <img src="{% static 'img/ofertas/arroz.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">ARROZ</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/ofertas/coca.png' %}">
                            <img src="{% static 'img/ofertas/coca.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">BEBIDA COCA-COLA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/ofertas/comida-perros.png' %}">
                            <img src="{% static 'img/ofertas/comida-perros.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">COMIDA PARA PERROS</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'iimg/gallery/ofertas/frugele.png' %}">
                            <img src="{% static 'img/ofertas/frugele.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">GOMITAS FRUGELE</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/ofertas/yogurt-batido.png' %}">
                            <img src="{% static 'img/ofertas/yogurt.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">YOGHURT NESTLE</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/1504-abolengo-servilletas 210.png' %}">
                            <img src="{% static 'img/productos/1504-abolengo-servilletas 210.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">SERVILLETAS ABOLENGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/clorox 1650.png' %}">
                            <img src="{% static 'img/productos/clorox 1650.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">CLOROX 2LT</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/confort-scott-rindemax 1390.png' %}">
                            <img src="{% static 'img/productos/confort-scott-rindemax 1390.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">CONFORT SCOTT</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/desodorante 1490.png' %}">
                            <img src="{% static 'img/productos/desodorante 1490.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">DESODORANTE SPEED STICK</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/fideos 1350.png' %}">
                            <img src="{% static 'img/productos/fideos 1350.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">FIDEOS LUCHETTI</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/GALLETA-OREO-36-GR-CHOCOLATE 1230.png' %}">
                            <img src="{% static 'img/productos/GALLETA-OREO-36-GR-CHOCOLATE 1230.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">GALLETAS OREO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/limones 1290.png' %}">
                            <img src="{% static 'img/productos/limones 1290.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">MALLA DE LIMONES</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/pepsi-desechable-3-lt 1190.png' %}">
                            <img src="{% static 'img/productos/pepsi-desechable-3-lt 1190.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">BEBIDA PEPSI 3LT</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/piña-conserva 1499.png' %}">
                            <img src="{% static 'img/productos/piña-conserva 1499.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">PIÑAS EN CONSERVA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card w-100" >
                        <a class="lightbox" href="{% static 'img/gallery/productos/SAVORY-HELADO-PIÑA 2590.png' %}">
                            <img src="{% static 'img/productos/SAVORY-HELADO-PIÑA 2590.png' %}" class="card-img-top"/>
                        </a>
                        <div class="card-body">
                            <p class="cart-text">HELADO SAVORY PIÑA</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
    </div>
    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script>baguetteBox.run('.tz-gallery');</script>

{% endblock %} 