{% extends "main-template.html" %} {% block title %}Minimarket El 10{% endblock %}{% block content %}{% load static %}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'img/01.png' %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tcarousel">Frutas & Verduras</h5>
          <p class="tcarousel2">Contamos con una amplia variedad de frutas y verduras.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/02.png' %}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tcarousel">Abarrotes</h5>
          <p class="tcarousel2">Contamos con una gran variedad de los mejores abarrotes.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/03.png' %}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tcarousel">Bebidas</h5>
          <p class="tcarousel2">Contamos con bebidas de todo tipo incluyendo CCU y Coca-Cola company.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/04.png' %}" alt="Four slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tcarousel">Pan</h5>
          <p class="tcarousel2">Contamos con el pan mas fresco y amplia variedad.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/05.png' %}" alt="Five slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tcarousel">Lacteos</h5>
          <p class="tcarousel2">Tenemos amplia variedad de yoghurts y lacteos.</p>
        </div>
      </div>
    </div>

    <div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



  <div id="accordion">
    <div class="card-header dropright" id="headingOne">
      <div id="ofertas" class="card-header dropdown-toggle" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Ofertas Destacadas
      </div>
    </div>
    
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card">
        
        <div id="ofertas-fondo" class="card-body">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ofertas/yogurt.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Yoghurt Batido Nestle</h5>
                <p class="card-text" style="font-weight: bold;">10 X $990 pesos</p>
                <p class="card-text">Variedad de sabores a elegir. que esperas? aprovecha ya esta oferta!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ofertas/coca.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Six pack lata Coca-Cola</h5>
                <p class="card-text" style="font-weight: bold;">4 X $7990 pesos</p>
                <p class="card-text">Sabor original o Zero. ven por las tuyas!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ofertas/arroz.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Arroz largo Miraflores</h5>
                <p class="card-text" style="font-weight: bold;">2 X $1290 pesos</p>
                <p class="card-text">El mejor arroz para tus preparaciones! aprovecha ya esta oferta!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ofertas/frugele.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Gomitas Frugele</h5>
                <p class="card-text" style="font-weight: bold;">2 X $1990 pesos</p>
                <p class="card-text">Ricas gomitas de varios sabores! ven por las tuyas!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ofertas/comida-perros.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Dog Chow - Adulto - Raza Mediana Grande</h5>
                <p class="card-text" style="font-weight: bold;">3KG X $4990 pesos</p>
                <p class="card-text">Para los regalones de la casa la mejor comida!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

      
  <div id="accordion">
    <div class="card-header dropright" id="headingTwo">
      <div id="productos" class="card-header dropdown-toggle" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
        Otros Productos
      </div>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card">
        <div id="ofertas-fondo" class="card-body">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/1504-abolengo-servilletas 210.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Servilletas Abolengo</h5>
                <p class="card-text" style="font-weight: bold;">$210 pesos c/u</p>
                <p class="card-text">40 unidades de las mejores servilletas</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/clorox 1650.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Clorox 2 LT</h5>
                <p class="card-text" style="font-weight: bold;">$1650 pesos c/u</p>
                <p class="card-text">Maxima efectividad para desinfectar</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/confort-scott-rindemax 1390.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Confort Scott 6 unidades</h5>
                <p class="card-text" style="font-weight: bold;">$1390 pesos c/u</p>
                <p class="card-text">El mejor confort de doble hoja y el mas rendidor</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/desodorante 1490.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Desodorante Speed Stick Spray</h5>
                <p class="card-text" style="font-weight: bold;">$1390 pesos c/u</p>
                <p class="card-text">El unico desodorante para hombres que dura 24 horas</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/fideos 1350.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Fideos Lucchetti Caracoles al Queso</h5>
                <p class="card-text" style="font-weight: bold;">$1290 pesos c/u</p>
                <p class="card-text">Los mejores y mas ricos caracoquesos</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div id="ofertas-fondo" class="card-body">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/GALLETA-OREO-36-GR-CHOCOLATE 1230.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pack Galletas Oreo chocolate</h5>
                <p class="card-text" style="font-weight: bold;">$1230 pesos c/u</p>
                <p class="card-text">6 unidades de las galletas mas ricas de chocolate</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/limones 1290.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Malla de limones de 1KG</h5>
                <p class="card-text" style="font-weight: bold;">$1290 pesos c/u</p>
                <p class="card-text">Los limones mas jugosos!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/piña-conserva 1499.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Piñas en conserva Esmeralda 567g</h5>
                <p class="card-text" style="font-weight: bold;">$1490 pesos c/u</p>
                <p class="card-text">Las piñas mas ricas y dulces!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/SAVORY-HELADO-PIÑA 2590.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Casata Savory sabor piña 1 LT</h5>
                <p class="card-text" style="font-weight: bold;">$1290 pesos c/u</p>
                <p class="card-text">Rico y refrescante helado sabor piña</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'img/productos/pepsi-desechable-3-lt 1190.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pepsi desechable 3 LT</h5>
                <p class="card-text" style="font-weight: bold;">$1190 pesos c/u</p>
                <p class="card-text">La mejor bebida de fantasia sabor cola!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>DIA: {{DIA}}</div>
  <div>FECHA: {{FEACHA}}</div>
  <div>TEMPERATURA MAXIMA: {{TEMPMAX}}°</div>
  <div>TEMPERATURA MINIMA: {{TEMPMIN}}°</div>


  <section id="footer">     
    <div class="horario">
      <h5>Horario</h5>
      <img class="izquierda" src="{% static 'img/horario.png' %}">
      <aside >Nuestro horario de atencion es de 8:30 a 21:00</aside>
      <div class="reset"></div>
    </div>
    <div class="direccion">
      <h5>Direccion</h5>
      <img class="derecha" src="{% static 'img/minimarket.png' %}">
      <aside>Avenida Juan Carlos Bodoque 2548, Titirilquén</aside>
      <div class="reset"></div>
    </div>
    <div></div>
    <h5></h5>
    <div class="container text-center text-xs-center text-sm text-md">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">Cristian Jerez Reyes - All right Reversed © 2021</p>
      </div>
      
    </div>
  </section>
{% endblock %} 



