{% extends "main-template.html" %} {% block title %}Login{% endblock %}{% block content %}{% load static %}


<body>
    <form id="frm-login" action="/authentication" method="POST" style="max-width: 800px; margin: auto;">{% csrf_token %}
        
        <h1 class="h3 mb-3 font-weight-normal">Inicie Sesion</h1>
        <label for="txt-username" class="sr-only">Username</label>
        <input type="text" id="txt-username" class="form-control" name="username" placeholder="Usuario" required="" autofocus="">
        <label for="txt-password" class="sr-only">Password</label>
        <input type="password" id="txt-password" class="form-control" name="password" placeholder="Contraseña" required="">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="botonenviar">Iniciar Sesion</button>
        <p class="mt-5 mb-3 text-muted"></p>
        <p> {% if msg_error %}
              {{msg_error}}
            {% endif %}              
        </p>
    </form>
    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>    
</body>

{% endblock %}



