{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body>
    <section id="footer">     
        <div class="horario">
          <h5>Horario</h5>
          <img class="izquierda" src="{% static 'img/horario.png' %}">
          <aside style="text-align: left;">Nuestro horario de atencion es de 8:30 a 21:00</aside>
          <div class="reset"></div>
        </div>
        <div class="direccion">
          <h5>Direccion</h5>
          <img class="derecha" src="{% static 'img/minimarket.png' %}">
          <aside style="text-align: right;">Avenida Juan Carlos Bodoque 2548, Titirilquén</aside>
          <div class="reset"></div>
        </div>
        <div></div>
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-white">
            <p>Jorquera - Duran - Jerez - Fernandez-prada Members of The Future</p>
            <p class="h6">All right Reversed © 2021</p>
          </div>
          
        </div>
      </section>

    {% block content %}{%  endblock %}

    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validate/contact-form-validate.js' %}"></script>   
</body>
</html>