{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{%  endblock %}</title>   
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/configs-propias.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/baguetteBox.min.css' %}">
</head>

<body>
    <nav id="navconfig" class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #29E3A2;">
    <a id="navtituloconfig" class="navbar-brand" href="/home/">Minimarket El 10</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mnu-principal" aria-controls="mnu-principal" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mnu-principal">
        <div class="navbar-nav">
        <a class="nav-link" href="/home/">Inicio</a>
        <a class="nav-link" href="/gallery/">Galeria</a>
        <a class="nav-link" href="/contact/">Contacto</a>
        <a class="nav-link" href="/detalle-form-contact">Editar Registros</a>        
        {% if user.is_authenticated  %}
            
        {% else %}
            
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            <a class="nav-link" href="#">@{{ user.username }}</a>
        {% else %}
            
        {% endif %}
        </div>
    </div>
    </nav>

    {% block content %}{%  endblock %}

    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validate/contact-form-validate.js' %}"></script>   
</body>


</html>