.tcarousel {
font-weight: bold;
font-style: normal;
font-size: 60px;
color: white;
background-color: #29E3A2;
}

.tcarousel2 {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: #29E3A2;
    }

#navconfig{
    font-weight: bold;
}

#navtituloconfig{
    font-size: 30px;

}

#ofertas {
    font-size: 25px;
    font-weight: bold;
    background-color: #29E3A2; 
}

#ofertas-fondo{
    background-color: #eee; 
}

#productos{
    font-size: 25px;
    font-weight: bold;
    background-color: #29E3A2;
}

.nav-link{
    margin: 8px;
}


section {
    padding: 60px 0;
}

section .section-title {
    
    color: #20af7d;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #20af7d !important;
}
#footer h5{
	padding-left: 15px;
    border-left: 8px solid #eeeeee;
    padding-bottom: 8px;
    margin-bottom: 25px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.direccion{
    
    float: right;
    
}


.container-info{
    margin: 25px;
}

div.horario {
    width: 49%;
    margin: 1px;
    background-color: #21a577;
    color: #fff;
    padding: 15px;
    float: left;
    
  }
  
  div.horario img.izquierda {
    float: left;
    margin-right: 15px;
    

    width:100%;
    height:100%;
    max-width:210px;
    max-height:169px;
   
  }
 
  div.direccion {
    width: 49%;
    margin: 1px;
    background-color: #21a577;
    color: #fff;
    padding: 15px;
    float: right;
  }

  div.direccion img.derecha {
    float: right;
    margin-left: 15px;
    
    width:100%;
    height:100%;
    max-width:210px;
    max-height:169px;
   
  }
  
  div.reset {
    clear: both;
  }

#botonenviar{
    background-color: #29E3A2;
    color: black;
}

#botonlimpiar{
    background-color: #21a577;
    color: black;
}

  .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}